// min-width

// Small devices (landscape phones, 576px and up)
$phone: 576px;

// Medium devices (tablets, 768px and up)
$tablet: 768px;

// Large devices (desktops, 992px and up)
$desktop: 992px;

// Extra large devices (large desktops, 1254px and up)
$large-desktop: 1254px;
