@import "./breakpoints.scss";
@import "./colors.scss";
@import "./typography.scss";

* {
  box-sizing: border-box;
}

html {
  font: 112.5%/1.45em georgia, serif, sans-serif;
  overflow-y: scroll;
  color: $secondary;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 80px; // position fixed header and navbar at the top
}

a {
  color: $primary;
}
