// font sizes

$very-small: 1.2rem;
$small: 1.4rem;
$normal: 1.6rem;
$big: 1.8rem;
$very-big: 2rem;
$large: 2.4rem;
$very-large: 3rem;

a {
    color: $primary;
    text-decoration: none;
}

h1 {
    font-size: $very-large;
    font-weight: normal;
}

h1.half-margin {
    margin: 1.5rem 0 0.5rem 0;
}

h2 {
    font-size: $large;
    font-weight: normal;
    letter-spacing: 0.02rem;
}

h3 {
    font-size: $big;
    font-weight: bold;
    margin: 2rem 0 0.5rem 0;
    letter-spacing: 0.03rem;
}

article {
    font-size: $small;
}

.bold {
    font-weight: bold;
}
