@import "../../styles/main.scss";

.about {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
  }

  &__profile {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    &__photo {
      width: 20rem;
      height: 20rem;
      border-radius: 100%;
    }

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      &__university {
        font-size: $very-small;
      }
    }

    &__icons {
      display: flex;
      gap: 1rem;
    }

    &__icon {
      width: 2.2rem;
      height: 2.8rem;
    }
  }
}
