.experience {
}

.job {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;

    &:hover {
        -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.3);
    }

    &__name {
        font-weight: bold;
        font-size: $big;
    }

    &__company {
        padding-top: 0.5rem;
    }

    &__duration {
        font-size: $very-small;
        color: $additional;
    }

    &__technologies {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;

        &__technology {
            position: relative;
            font-size: $small;
            letter-spacing: 0.05rem;
            padding-right: 1.5rem;
            &::after {
                right: 0.5rem;
                position: absolute;
                content: '\00B7';
            }

            &__last {
                &::after {
                    content: '';
                }
            }
        }
    }
}
