@import "../../styles/main.scss";

.experience {
  height: 500px;
}

.job {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;

  &:hover {
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.3);
  }

  &__name {
    font-weight: bold;
    font-size: $big;
  }

  &__company {
    padding-top: 0.5rem;
  }

  &__duration {
    font-size: $very-small;
    color: $additional;
  }
}
